
html {
    box-sizing: border-box;
}

body {
    font-family: 'Museo Sans Cyrl', sans-serif;
    margin: 0;
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

a {
    text-decoration: none;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.btn {
    padding: 15px 35px;
    background-color: var(--color-main);
    color: #fff;
    border-radius: 50px;
    font-weight: 700;
    font-size: 18px;
    &-transparent {
        background: transparent;
        color: #17b979;
        border: 3px solid #17b979;
        font-weight: 700;
        &:hover {
            background-color: var(--color-submain);
            border: 3px solid var(--color-submain);
            color: #fff;
        }
    }
    &-warning {
        background: var(--color-warning);
        color: var(--color-white);
        font-weight: 700;
    }
    &:hover {
        background-color: var(--color-submain);
    }
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1260px;
}

