// colors
:root {
    --color-main: #17b979;
    --color-white: #fff;
    --color-submain: #185963;
    --color-black: #000;
    --color-blue: #081a53;
    // --color-warning: #ad3353;
    --color-warning: #c70630;
  }