.our-menu {
    position: relative;
    padding-top: 280px;
    padding-bottom: 50px;
    &::after { 
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: url('../../img/header-bg.jpeg');
        background-position: center;
        
        opacity: 0.07;
        z-index: -1;
    }

    &__title {
        font-weight: 700;
        font-size: 50px;
        line-height: 120%;
        text-transform: uppercase;
        color: var(--color-blue);
        text-align: center;
        margin-bottom: 50px;
    }

    &__tabs-block {
        width: 1100px;
        padding: 50px 50px;
        margin: 0 auto;
        background-color: var(--color-white);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        border-radius: 10px;
    }
}

.tab {
    
    .tabheader {
        margin-bottom: 50px;


        &__items {
            // width: 800px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
        }

        &__item {
            cursor: pointer;
            padding: 12px 30px;
            color: var(--color-blue);
            border-radius: 50px;
            font-weight: 700;
            font-size: 18px;
            border: 3px solid transparent; // ???? чтобы не скакало из-за border 3px в active
            &-active {
                color: var(--color-main);
                border: 3px solid #17b979;
            }
        }
    }

    .tabcontent {
        display: flex;
        justify-content: center;
        gap: 50px;

        &__img {
            width: 500px;
            height: 350px;
            border-radius: 25px;
            object-fit: cover;
        }

        &__wrapper {
            position: relative;
            width: 500px;
        }

        &__title {
            font-weight: 700;
            font-size: 36px;
            text-transform: uppercase;
            margin-bottom: 10px;
            color: var(--color-blue);
        }

        &__kkal {
            color: var(--color-main);
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 25px;
        }

        &__descr {
            margin-bottom: 25px;
            font-weight: 300;
            font-size: 18px;
            line-height: 120%;
            color: var(--color-submain);
        }

        &__price {
            color: var(--color-warning);
            font-weight: 700;
            font-size: 26px;
            margin-bottom: 25px;
            span {
                color: var(--color-blue);
            }
        }

        &__btns {
            position: absolute;
            bottom: 0;
        }
        &__btn {
            margin-right: 10px;
        }
    }
}