.timer {
    position: absolute;
    top: -35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    width: 500px;
    border-radius: 50px;
    background-color: var(--color-main);
    
    &__block {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        color: var(--color-white);
        &:not(:last-child) {
            border-right: 1px solid #fff;
            padding-right: 53px;
        }
        span {
            font-size: 28px;
            font-weight: 700;
        }


    }
}